[Unit]
Description=Prometheus node_exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ node_exporter_install_dir }}/node_exporter \
  --web.listen-address={{ node_exporter_web_listen_address }}{% for collector in node_exporter_enabled_collectors %} \
  --collector.{{ collector }}{% endfor %}{% for collector in node_exporter_disabled_collectors %} \
  --no-collector.{{ collector }}{% endfor %}{% for flag in node_exporter_extra_flags %} \
  {{ flag }}{% endfor %}
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
